#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=TKRunner
Comment=Run Command dialog accepting an extended Tcl syntax
Exec=tkrunner
Categories=System;Utility
